Resources:
  CloudFrontDistribution:
    Type: AWS::CloudFront::Distribution
    Properties:
      DistributionConfig:
        Origins:
          - DomainName: { "Fn::GetAtt": ["AWSEBLoadBalancer", "DNSName"] }
            Id: ElasticBeanstalkOrigin
            CustomOriginConfig:
              HTTPPort: 80
              HTTPSPort: 443
              OriginProtocolPolicy: http-only
        Enabled: true
        DefaultCacheBehavior:
          ForwardedValues:
            QueryString: true
            Cookies:
              Forward: all
          TargetOriginId: ElasticBeanstalkOrigin
          ViewerProtocolPolicy: redirect-to-https
        ViewerCertificate:
          CloudFrontDefaultCertificate: true

Outputs:
  CloudFrontDomainName:
    Description: The domain name of the CloudFront distribution
    Value: { "Fn::GetAtt": ["CloudFrontDistribution", "DomainName"] }
