Resources:
  CloudFrontDistribution:
    Type: AWS::CloudFront::Distribution
    Properties:
      DistributionConfig:
        Origins:
          - DomainName: { "Fn::GetOptionSetting": { "Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "DOMAIN_NAME", "DefaultValue": "cat-gallery.us-east-1.elasticbeanstalk.com" } }
            Id: ElasticBeanstalkOrigin
            CustomOriginConfig:
              HTTPPort: 80
              HTTPSPort: 443
              OriginProtocolPolicy: http-only
        Enabled: true
        DefaultCacheBehavior:
          ForwardedValues:
            QueryString: true
            Cookies:
              Forward: all
          TargetOriginId: ElasticBeanstalkOrigin
          ViewerProtocolPolicy: redirect-to-https
        Aliases:
          - "jpilier.people.aws.dev"
        ViewerCertificate:
          AcmCertificateArn: { "Fn::GetOptionSetting": { "Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "ACM_CERTIFICATE_ARN", "DefaultValue": "" } }
          SslSupportMethod: sni-only
          MinimumProtocolVersion: TLSv1.2_2021

Outputs:
  CloudFrontDomainName:
    Description: The domain name of the CloudFront distribution
    Value: { "Fn::GetAtt": ["CloudFrontDistribution", "DomainName"] }
