# This configuration will be used if the environment has a classic load balancer
# For most new environments, use CloudFront instead as defined in 02_cloudfront.config
#
# option_settings:
#   aws:elb:listener:443:
#     SSLCertificateId: arn:aws:acm:us-east-1:000000000000:certificate/00000000-0000-0000-0000-000000000000
#     ListenerProtocol: HTTPS
#     InstancePort: 80
