# This configuration is for environments with Application Load Balancer (ALB)
# Since we're using a single instance with CloudFront, this isn't needed
#
# option_settings:
#   aws:elbv2:listener:443:
#     SSLCertificateArns: arn:aws:acm:us-east-1:000000000000:certificate/00000000-0000-0000-0000-000000000000
#     Protocol: HTTPS
#     DefaultProcess: default
